<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="d-flex justify-content-center my-5">
			<div class="card shadow" style="width: 100%; max-width: 500px;">
				<div class="card-body p-4">
					<form th:action="@{/saveEmployee}" th:object="${employee}"
						method="post">
						<h3 class="mb-4 text-center">Employee Registration</h3>

						<div class="mb-3">
							<label class="form-label">Full Name</label> <input type="text"
								th:field="*{name}" class="form-control" placeholder="John Doe"
								required>
						</div>

						<div class="mb-3">
							<label class="form-label">Department</label> <select
								th:field="*{dept}" class="form-select" required>
								<option value="" selected disabled>-- Select Department
									--</option>
								<option value="HR">HR</option>
								<option value="Finance">Finance</option>
								<option value="IT">IT</option>
								<option value="Marketing">Marketing</option>
							</select>
						</div>

						<div class="mb-3">
							<label class="form-label">Email</label> <input type="email"
								th:field="*{email}" class="form-control"
								placeholder="example@company.com" required>
						</div>

						<div class="mb-3">
							<label class="form-label">Password</label> <input type="password"
								th:field="*{password}" class="form-control"
								placeholder="********" required>
						</div>

					
						<button type="submit" class="btn btn-primary col-md-12">Register
							Employee</button>
					</form>

				</div>
			</div>
		</div>


	</section>
</body>
</html>